<!doctype html>
<html lang="ja">
    <link rel="stylesheet" media="screen and (max-width:768px)" href="./../static/css/index_SmartPhone.css">
    <link rel="stylesheet" media="screen and (min-width:769px)" href="./../static/css/index_PC.css">
    <link rel = "stylesheet" href = "./../static/css/common.css">

    <link rel="icon" href="./../static/image/favicon.ico">
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha384-ZCmVL/dTQHh41JxtZe73klDRFSJ/zixGCGt5lhnLQGjSWfAnlXSg+GSnRACaK5lc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="/static/javascript/client.js" ></script>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    


    <title>ヌーメン</title>
    
    
        
 
    
    
    

        

    </head>

   <!--背景(imageの相対パスはindex.htmlがあるフォルダから)-->
    <div class = "BackGround_basic" id = "BackGroundTag" style = "background-image:url(./../static/image/background_green1.png);"></div>
    
    
    <div id = "Inner">




        <section class="Introduction">
            <h style = "color: rgb(111, 105, 105);font-size:27px;font-family: 'Itim';">NU掲示板</h>
            <br>プライバシーポリシー
            
        </section>



        <section class = "Explanation" id = "Explanation_PrivacyPolicy"> 
            <a href = "./">トップページに戻る</a>
            <br>NU掲示板は、本ウェブサイト上で提供するサービスにおける，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
            <br>
            <br><h_big>第1条（個人情報）</h_big>
            <br>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。
            <br>
            <br><h_big>第2条（その他）</h_big>
            <br>特に個人情報を集めたりはしないので、安心してください。
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <br><a href = "./">トップページに戻る</a>
            <br><a href = "https://twitter.com/NokonoKotlin">Twitter</a>        
        </section>
        
        
        
        
    
        
    </div>


        
</html>






