
/*基本-------------------------------------------------------------------------------------------*/

body,html {width: 100%;height: 100%;}


body {
	
	margin: 0px;
	padding: 0px;
	color: rgb(0, 0, 0);	/*文字色*/
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;	/*サイズ*/
	line-height: 2;		/*行間*/
	background: rgb(91, 109, 92);
	-webkit-text-size-adjust: none;
}











/*----------------------------------文字の種類------------------------------------*/

Gray {
    color: rgb(80, 80, 74);/*色*/
}

Black {
    color: rgba(7, 7, 7, 0.877);/*色*/
}

Orange{
	color: rgb(255, 113, 31);
}

Pink {
	color: fuchsia;
}

Yellow{
	color: rgb(248, 248, 108);
}


h_big{
	font-size: 22px;
}

h_middle{
	font-size: 14px;
}

h_small{
	font-size: 7px;
}




/*------------------------------------------------------------------------------------------*/
/*----------------------------------{一般で使う}----------------------------------------------*/
/*------------------------------------------------------------------------------------------*/


/*メインの記述部分の属性(id) , <div>で指定 */
#Inner{
	position: relative;	
	width: 90%;
	top: 50px;
	left: 5%;
	right: 5%;

}


/*トップやタイトル*/
.Introduction{
	background: rgb(253, 253, 253);	
	color: black;
	padding: 30px;		
	border : 4px solid;
	border-color: black;
	text-align: center;
	
	
}




/*
	記事など、文章を書く用
*/
.Explanation{
	background: rgb(253, 253, 253);	
	margin-bottom: 40px;
	color: black;
	padding: 30px;		
	
}


/*
	枠線付きのbox
*/
.Box{
	border : 1px solid;
	border-color: black;
	padding: 20px;	

}

/*
	小さいBox
*/
.SmallBox{
	border : 2px solid;
	border-color: black;
}



/*
	この中の要素は横並び
*/
.Horizon{
	display: flex;
}










/*------------------------------------------------------------------------------------------*/
/*----------------------------------{index.htmlで使う}---------------------------------------*/
/*------------------------------------------------------------------------------------------*/






/*
	項目一覧...項目名は簡潔に
*/
.Index_index{
	color: black;
	width:25%;
		
}

/*
	項目の中身
*/
.article_index{
	background: rgb(253, 253, 253);	
	color: black;
	padding: 30px;		
	width:75%;
	border: 2px black solid;

}


/*
	Indexの選択肢のボタン
	ネットからコピペしたのを改変しました(正直者です)
*/
.button_index {
	display: flex;
	justify-content: center;
	align-items: center;

	background: rgb(117, 106, 90);
	border: 1px solid black;
	box-sizing: border-box;

	width:100%;
	height:60px;
	
	padding: 0 6% 0 12%;
	color: #38393a;
	font-size: auto;
	text-align: left;
	text-decoration: none;
	position: relative;
	transition-duration: 0.2s;

}.button_index:hover {
	background: rgb(83, 79, 70);
	color: #fff;
}
