/*

    チャット部屋用css
    

*/





/*
    メッセージを入力する箇所の大枠
*/
.message_submit_set{
    
    
    position: fixed;  
    left:40%;
    padding-bottom:12%;
    bottom:0%;
	width: 60%;
	
	
    /*
    
    */
    
    background-color: rgba(255,255,255,1);
	border : 1px solid;
	border-color: black;
	
	z-index: 4;
	
	
	
    
}









/*
    メッセージ入力
*/
.MessageBox{
    left:0%;
    
    width:55%;

    border-radius:25%;
    position: relative;
    border: 1px solid black;
    background: #EEFFFF;
    font-size: 14px;
    
}





/*

メッセージ送信
*/

.SendMessageButton {
    top:4px;
    margin  : auto;
                
    overflow: hidden;
    position : relative;
    width   : 26px;
    height : 24px;
}

.SendMessageButton::after {
  content : "";
  position : absolute;
  width : 17px;
  height : 17px;
         
  background :  linear-gradient(135deg, #7f7f7f, #a6a6a6);
  top   : 3px;
  left  : -9px;
  transform  : scaleX(2.2) rotate(45deg);
}



.SendMessageButton::hover{
    border:1px solid #7f7f7f;
    background-color: white;
    
}






/*
    足跡ボタン
*/
.FootPrints_button{
    
	background-color: white;
	font-size: 16px;
	
}











/*
      チャット欄用
      チャットが流れる場所を指す
*/
.ChatArea{
    
    top :10%;
	width: 100%;
    position: relative;    
    overflow-y: scroll ;
    overflow-x: hidden ;
    
    
    
    
}



/*
    最新のメッセージや情報を表示する場所
*/
.LatestMessageArea{
    position: relative;  
    
    padding-bottom:2%;
	width: 100%;
    
}











/*
    左側に表示する各メッセージの枠
*/
.ChatMessage_left{
    padding:6px 14px 6px 14px;
    margin-top: 14px;
    max-width: 100%;
    font-size: 14px;
    float: left;
    line-height: 1.3em;
    color:black;
    background:white;
    border: 2px solid gray;
    border-radius: 30px 30px 30px 0px;
    margin-right: 70%;
    margin-left: 4%;
}











/*

    右側に表示する各メッセージの枠
*/
.ChatMessage_right{
    padding:6px 14px 6px 14px;
    margin-top: 14px;
    max-width: 100%;
    font-size: 14px;
    float: right;
    line-height: 1.3em;
    color: black;
    background:white;
    border: 2px solid gray;
    border-radius: 30px 30px 0px 30px;
    margin-left:25%;
    margin-right:64%;
    
}










/*
    メッセージに対してLikeを押すボタン
*/
.like_button{
    margin-left: 4%;
    font-size : 14px;
}










/*
    部屋の情報ボックス

*/
.ChatRoomMenu_bar{
    top:0%;
    width:100%;
    height: auto;
    z-index:3;
    position:fixed;
    
    
    background-color: rgba(255,255,255,0.5);
    color:black;
    
}










/*
    部屋の説明ボックス

*/
.ChatRoomExplanation{
    
    left:5%;
    right:5%;
    width:90%;
    
    z-index: 3;
    position:fixed;
    
    background-color: white ;
    border:solid 1px black;
    color:black;
}









/*
    部屋のせつめい開くボタン
*/
.ChatRoomExplanation_Button{
    top:4%;
    overflow: hidden;
    position: relative;
    text-align:center;          
    color:white;
    width  : 24px;
    height : 24px;
    background : linear-gradient(135deg, #7f7f7f, #a6a6a6);
    border-radius: 50%;
}






/*
    隠しコマンド(送信メッセージのオプション)を選択する画面
*/
.SelectMessageOption{
    bottom:0%;
    background-color: rgba(255,255,255,0.85);
    width:30%;
    font-size:11px;
    padding:10px;
    position:fixed;
    z-index:5;
}









